services:

    webserver:
        image: nginx:alpine
        restart: unless-stopped
        ports:
            - ${APP_PORT}:80
            # - 443:443
        volumes:
            - ./:/var/www
            - ./docker/production/nginx/:/etc/nginx/conf.d/

        labels:
            - traefik.enable=true
            - traefik.http.routers.laravel_8.rule=Host(`165.232.186.50`)
            - traefik.http.routers.laravel_8.entrypoints=websecure
            - traefik.http.routers.laravel_8.tls=true
            - traefik.http.services.laravel_8.loadbalancer.server.port=80
            - traefik.http.routers.laravel_8.service=laravel_8

        networks:
            - traefik-proxy
            # - laravel-eti

    # image project
    app:
        tty: true
        build:
            args:
                user: ali
                uid: 1000
            context: ./
            dockerfile: docker/production/Dockerfile
        image: laravel-app
        restart: unless-stopped
        working_dir: /var/www/
        volumes:
            - ./:/var/www
        networks:
            - traefik-proxy
            - laravel-eti

    # nginx

    # db mysql

    mysql:
        container_name: db_container
        image: 'mysql/mysql-server:8.0'
        ports:
            - '${FORWARD_DB_PORT:-3306}:3306'
        environment:
            MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ROOT_HOST: '%'
            MYSQL_DATABASE: '${DB_DATABASE}'
            MYSQL_USER: '${DB_USERNAME}'
            MYSQL_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
        volumes:
            - 'sail-mysql:/var/lib/mysql'
            - './docker/mysql/create-testing-database.sh:/docker-entrypoint-initdb.d/10-create-testing-database.sh'
        networks:
            - laravel-eti
            - traefik-proxy
        healthcheck:
            test:
                - CMD
                - mysqladmin
                - ping
                - '-p${DB_PASSWORD}'
            retries: 3
            timeout: 5s
networks:
    laravel-eti:
        driver: bridge
    traefik-proxy:
        external: true
volumes:
    sail-mysql:
        driver: local
