services:
    # image project
    laravel_8:
        build:
            args:
                user: ali
                uid: 1000
            context: ./
            dockerfile: docker/production/Dockerfile
        image: laravel-app
        restart: unless-stopped
        working_dir: /var/www/
        volumes:
            - ./:/var/www
        networks:
            - traefik-proxy
            - laravel-eti

    # nginx
    nginx:
        image: nginx:alpine
        restart: unless-stopped
        ports:
            - ${APP_PORT}:80
            # - 443:443
        volumes:
            - ./:/var/www
            - ./docker/production/nginx/:/etc/nginx/conf.d/

        labels:
            - traefik.enable=true
            - traefik.http.routers.laravel_8.rule=Host(`165.232.186.50`)
            - traefik.http.routers.laravel_8.entrypoints=web
            - traefik.http.routers.laravel_8.tls=true
            - traefik.http.routers.laravel_8.service=laravel_8

        networks:
            - traefik-proxy
            - laravel-eti

    # db mysql
    mysql:
        image: mysql:5.7.22
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_USER: ${DB_USERNAME}
        volumes:
            - ./.docker/mysql/dbdata:/var/lib/mysql
        networks:
            - traefik-proxy
            - laravel-eti

networks:
    laravel-eti:
        driver: bridge
    traefik-proxy:
        external: true
